
<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
            <!--    <button class="btn btn-primary btn-raised btn-round" (click)="printToCart('tabla_prueba')">
                    Imprimir Reporte
                </button>-->
                <div class="card" id="tabla_prueba">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-10">
                                <h4 class="card-title">Personal actual que ocupa habitaciones </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




