
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <select name="hotel" #tipo class="form-control" (change)="cambiar_tipo(tipo.value)">
                    <option value="0">Seleccione Tipo</option>
                    <option value="1">Salida 4am -8 am</option>
                    <option value="2">Entrada 8am - 5 pm</option>
                    <option value="3">Entrada 5pm - 11pm</option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="text" [disabled]="flag_select_tipo"  (keyup.enter)="buscar_dni()" class="form-control" name="searchString" placeholder="Buscar DNI..." [(ngModel)]="searchString">
            </div>
            <div class="col-md-3" *ngIf="this.isOn">
                <div *ngIf="this.notificacion;else notif_else" class="alert alert-success" style="padding-top: 5px;padding-bottom: 5px;margin-top: 20px;">
                    <button class="form-control" type="button" aria-hidden="true" class="close">
                    </button>
                    <span><b> Registro satisfactorio </b></span>
                </div>

                <ng-template #notif_else>
                    <div class="alert alert-danger" style="padding-top: 5px;padding-bottom: 5px;margin-top: 20px;">
                        <button class="form-control" type="button" aria-hidden="true" class="close">
                        </button>
                        <span><b> Error ! </b></span>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--    <button class="btn btn-primary btn-raised btn-round" (click)="printToCart('tabla_prueba')">
                        Imprimir Reporte
                    </button>-->

                <div class="card" id="tabla_prueba">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Registro Diario, Entradas -Salidas</h4>
                        <div class="table-responsive">
                            <table class="table" style="width: 100%">
                                <thead>
                                <tr>
                                    <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                                    <th class="text-center">{{ tableData1.headerRow[1] }}</th>
                                    <th class="text-center">{{ tableData1.headerRow[2] }}</th>
                                    <th class="text-center">{{ tableData1.headerRow[3] }}</th>
                                    <th class="text-center">{{ tableData1.headerRow[4] }}</th>
                                    <th class="text-center">{{ tableData1.headerRow[5] }}</th>
                                    <th class="text-center">{{ tableData1.headerRow[6] }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--<tr *ngFor="let row of tableData1.dataRows | ">-->
                                <tr *ngFor="let row of tableData1.dataRows">
                                    <td class="text-center">{{row.personalRelevoId.dni}}</td>
                                    <td>{{row.personalRelevoId.nombreCompleto}}</td>
                                    <td class="text-center">{{row.personalRelevoId.fechaIngreso | date: 'dd/MM/yyyy'}} </td>
                                    <td class="text-center">{{row.personalRelevoId.fechaSalida | date: 'dd/MM/yyyy'}}</td>
                                    <td class="td-actions text-center" title="Registro Diario">
                                        <button type="button" class="btn btn-info btn-simple">
                                            <i *ngIf="row.reg1==0;else reg1_else" class="material-icons">close</i>
                                            <ng-template #reg1_else>
                                                <i class="material-icons">done</i>
                                            </ng-template>
                                        </button>
                                    </td>
                                    <td class="td-actions text-center" title="Registro Diario">
                                        <button type="button" class="btn btn-info btn-simple">
                                            <i *ngIf="row.reg2==0;else reg2_else" class="material-icons">close</i>
                                            <ng-template #reg2_else>
                                                <i class="material-icons">done</i>
                                            </ng-template>
                                        </button>
                                    </td>
                                    <td class="td-actions text-center" title="Registro Diario">
                                        <button type="button" class="btn btn-info btn-simple">
                                            <i *ngIf="row.reg3==0;else reg3_else" class="material-icons">close</i>
                                            <ng-template #reg3_else>
                                                <i class="material-icons">done</i>
                                            </ng-template>
                                        </button>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <button (click)="export()">Subir Datos!</button>-->
</div>
<!--<table class="sjs-table">
    <tr *ngFor="let row of data">
        <td *ngFor="let val of row">
            {{val}}
        </td>
    </tr>
</table>-->




